<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<div id="HMIFile-tab-content" class="subProcessPage">
    <%- blocks.HMIFile%>
</div>
<div id="HMISet-tab-content" class="subProcessPage">
<%- blocks.HMISet%>
</div>

<%-body%>