<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<div id="userInfo-tab-content" class="subProcessPage">
    <%- blocks.userInfo%>
</div>
<div id="userPW-tab-content" class="subProcessPage">
<%- blocks.userPW%>
</div>


<%-body%>