<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<div id="BearSub-tab-content" class="subProcessPage">
    <%- blocks.BearSub%>
</div>
<div id="BearPic-tab-content" class="subProcessPage">
<%- blocks.BearPic%>
</div>
<div id="BearAdd-tab-content" class="subProcessPage">
<%- blocks.BearAdd%>
</div>

<%-body%>