<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<div id="MSMac-tab-content" class="subProcessPage">
    <%- blocks.MSMac%>
</div>
<div id="MSFac-tab-content" class="subProcessPage">
<%- blocks.MSFac%>
</div>

<%-body%>