<div class="contentDiv">
 
  
<blockquote class="layui-elem-quote layui-text">
  使用注意事项:</br>
	  1.该工具用于产生停机工具单机版的软件注册码文件. </br>
	  2.输入使用电脑的mac地址,注意格式,点击即可产生SN软件授权文件,拷贝至电脑引入软件即可.
</blockquote>
  
<p>欢迎用户：<%-(locals.session==null)?"":locals.session.yjUser.AID%><%-locals.session.yjUser.name%> 登录系统</p>  
<HR>
</br>

<div class="layui-form-item">
<label class="layui-form-label">MAC地址:</label> 
<div class="layui-input-block"> 
  <input type="text" name="textMac" id="textMac" autocomplete="off"  placeholder="参考格式:  00-01-02-03-04-05注意删除前后空格" class="layui-input" /></p>
</div>
</div>

<div class="layui-form-item">
<label class="layui-form-label">SN注册码:</label> 
<div class="layui-input-block"> 
  <input type="text" name="textSN" id="textSN" autocomplete="off"  placeholder="注册码计算成功后会显示于此处,复制至软件注册即可!" class="layui-input" /></p>
</div>
</div>

  <div class="layui-input-block">
  <button type="button" class="layui-btn" name="SNTxt" id="SNTxt">计算注册码</button>
  <button type="button" class="layui-btn" name="SNCreate" id="SNCreate">生成软件注册文件</button>
  </div>

</div>
<!------定义web显示内容---------------------------->

<script type="text/javascript">
    var  processAID="MS";
    var  subProcessAID="MSMac";
    var g_ScreenFlat=$(window).width()>1366?true:false;
   
    $(function(){
        g_subProcesses.renderMSMac=function(){

        	//-------------------------
        	 $('#SNTxt').off("click").on("click",function(){           	
             	
             	var textMac=$("#textMac").val();   	
             	var checkmac=checkMac(textMac);
             	
             	if(checkmac){
             		
             		
             		var FMMac=FM(textMac);
             		
             		mssn=encryptMac(FMMac);
             		
             		$("#textSN").val(mssn);
	
             	}
   		
             })
             
             //-------------------------
        	
        
            $('#SNCreate').off("click").on("click",function(){           	
            	
            	var textMac=$("#textMac").val();   	
            	var checkmac=checkMac(textMac);
            	
            	if(checkmac){

            		var FMMac=FM(textMac);
            		
            		mssn=encryptMac(FMMac);
	
            		var blob = new Blob([mssn], {});//out_put_string为需要保存到文件的字符串内容
                	saveAs(blob, "History.sn");//为保存的文件名
            		
            	}
	
                    		
            })
            
            //-------------------------------
            


            
           




       
            
        }
    }); 
</script>