
<div class="div_wrap">
    <div class="content_load">
        <div class="div_toolbar">
            <img class="img_toolbar" src="/images/green_pv1.png"/>
            <span class="span_greenName" ><%-locals[i].greenName%></span>
        </div>
        <div>
            <span>
                locals.ml("Select")
            </span>
            <select id="combMultilanguage" class="easyui-combobox " name="state" data-options="     width:100,panelHeight:'auto',editable:false" >
                <option value="2052">中文简体</option>
                <option value="1028">中文繁體</option>
                <option value="1033">English</option>
            </select>
            <span>
                locals.ml("time")
            </span>
            
        </div>
        <div class="grid">
        </div>
    </div>
</div>