<% layout(locals.global.theme_layout_dir+'/master.ejs') -%>
<link rel="stylesheet" type="text/css" href="/css/about.css">
<div id="About" class="subModel" style="height100%;display:flex;align-items:center;justify-content:center;">
        <div class="divCopyInfo" >   
        <img alt="TECHWEB" src="/images/TECH.jpg" ></br>
        软件名称:TECHWEB停机密钥工具</br>
        版本号:V1.0</br>
        浙江省宁波市北仑区大港五路88号</br>
        总机：0574-86987281 86987282</br>
        传真：0574-86829287</br>
        通用邮箱： info@techmation.com.cn </br>
        销售课分机：211 / 215</br>
        销售课邮箱：</br>
        Mr.Carlton：carlton@techmation.com.cn </br>
                             sales@techmation.com.cn</br>
        客服部分机：509 / 510 / 511</br>
        客服部专线：0574-86987285 </br>
        客服部传真：0574-86987286</br>
        客服部邮箱：serviceafter@tehchmation.com.cn</br></br>
        
        <a href="/app/account/showlogin">       <button>返回登陆</button></a>
          
        </div>
        
        
</div>
