<% layout(locals.global.theme_layout_dir+'/master1.ejs') -%>
<div>
   <a href="http://www.accuweather.com/en/cn/ningbo/61620/weather-forecast/61620" class="aw-widget-legal">
<!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
-->
</a><div id="awtd1492674283517" class="aw-widget-36hour"  data-locationkey="" data-unit="c" data-language="zh-cn" data-useip="false" data-uid="awtd1492674283517" data-editlocation="false" data-lifestyle="diy"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
</div>